.jumbotron h1 {
  color: rgb(255, 89, 200);
}
.nav-scroller > nav {
  background-color: cyan;
}

.jumbotron > div > p > a {
  background-color: darkgoldenrod;
}
div > .blog-post {
  background-color: rgb(227, 248, 255);
}
