.jumbotron h1 {
  color: rgb(255, 89, 200);
}
.nav-scroller > nav {
  background-color: cyan;
}

.jumbotron > div > p > a {
  background-color: darkgoldenrod;
}
div > .blog-post {
  background-color: rgb(227, 248, 255);
}

.container .nav-scroller > .nav > .p-2:nth-child(even) {
  background-color: rgb(255, 223, 244);
}
.p-4 > .list-unstyled.mb-0 {
  border: 10px solid rgb(1, 54, 75) !important;
  color: red;
  background-color: red;
}

.blog-post:nth-child(3) h2 + p a {
  background-color: tomato;
}
/*doesn't selects the second child*/
.blog-footer p:nth-child(2) > a {
  background-color: rosybrown;
}
footer {
  background-color: skyblue;
}
.p-4:last-child a:last-child {
  background-color: yellow;
}
